In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns', None)

In [2]:
raw = pd.read_csv('../data/churn_wgu/raw.csv')

In [3]:
raw.head()

,CaseOrder,Customer_id,Interaction,UID,City,State,County,Zip,Lat,Lng,Population,Area,TimeZone,Job,Children,Age,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,e885b299883d4f9fb18e39c75155d990,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,0,68,28561.99,Widowed,Male,No,7.978323,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,f2de8bef964785f41a2959829830fb8a,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1,27,21704.77,Married,Female,Yes,11.699080,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,f1784cfa9f6d92ae816197eb175d3c71,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4,50,9609.57,Widowed,Female,No,10.752800,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,dc8a365077241bb5cd5ccd305136b05e,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1,48,18925.23,Married,Male,No,14.913540,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,aabb64a116e83fdc4befc1fbab1663f9,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0,83,40074.19,Separated,Male,Yes,8.147417,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,149.948316,271.493436,4,4,4,3,4,4,4,5

In [4]:
# Drop Unique Identifiers, Customer_id, Interaction and UID as we already have a unique idendentifier, index.
raw = raw.drop(['Customer_id', 'Interaction', 'UID'], axis=1)

In [5]:
# Drop address data as we have lat/lng. This is redundant and lat/lng is preferable as address data is too granular to offer value as a categorical feature
raw = raw.drop(['City', 'State', 'County', 'Zip'], axis=1)
raw

,CaseOrder,Lat,Lng,Population,Area,TimeZone,Job,Children,Age,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8
0,1,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,0,68,28561.99,Widowed,Male,No,7.978323,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,172.455519,904.536110,5,5,5,3,4,4,3,4
1,2,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1,27,21704.77,Married,Female,Yes,11.699080,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.632554,800.982766,3,4,3,3,4,3,4,4
2,3,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4,50,9609.57,Widowed,Female,No,10.752800,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.947583,2054.706961,4,4,2,4,4,3,3,3
3,4,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1,48,18925.23,Married,Male,No,14.913540,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,119.956840,2164.579412,4,4,4,2,5,4,3,3
4,5,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0,83,40074.19,Separated,Male,Yes,8.147417,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,149.948316,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,43.43391,-72.78734,640,Rural,America/New_York,Sport and exercise psychologist,3,23,55723.74,Married,Male,No,9.415935,12,2,0,No,Month-to-month,Yes,Yes,DSL,Yes,Yes,No,Yes,Yes,No,No,No,No,Electronic Check,68.197130,159.979400,6511.252601,3,2,3,3,4,3,2,3
9996,9997,36.56907,-87.41694,77168,Rural,America/Chicago,Consulting civil engineer,4,48,34129.34,Divorced,Male,No,6.740547,15,2,0,No,Two Year,No,No,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,Yes,No,No,Electronic Check,61.040370,207.481100,5695.951810,4,5,5,4,4,5,2,5
9997,9998,35.52039,-100.44180,406,Rural,America/Chicago,IT technical support officer,1,48,45983.43,Never Married,Female,No,6.590911,10,0,0,No,Month-to-month,No,No,Fiber Optic,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),47.416890,169.974100,4159.305799,4,4,4,4,4,4,4,5
9998,9999,33.58016,-85.13241,35575,Urban,America/New_York,Water engineer,1,39,16667.58,Separated,Male,No,12.071910,14,1,0,No,Two Year,No,Yes,Fiber Optic,No,Yes,No,No,No,Yes,Yes,Yes,Yes,Credit Card (automatic),71.095600,252.624000,6468.456752,4,4,6,4,3,3,5,4
9999,10000,34.70783,-83.53648,12230,Urban,America/New_York,Personal assistant,1,28,9020.92,Never Married,Male,No,11.754720,17,1,0,No,Month-to-month,Yes,No,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Electronic Check,63.350860,217.484000,5857.586167,2,2,3,3,3,3,4,1

In [6]:
raw = raw[['Churn','Tenure', 'CaseOrder', 'Lat', 'Lng', 'Population', 'Children', 'Age', 'Income', 'Outage_sec_perweek', 'Email', 'Contacts', 'Yearly_equip_failure', 'MonthlyCharge', 'Bandwidth_GB_Year', 'Item1', 'Item2', 'Item3', 'Item4', 'Item5', 'Item6', 'Item7', 'Item8', 'Area', 'TimeZone', 'Job', 'Marital', 'Gender', 'Contract', 'InternetService', 'PaymentMethod', 'Techie', 'Port_modem', 'Tablet', 'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling']]

In [7]:
binary_features = raw[['Churn', 'Port_modem','Tablet', 'Phone', 'Multiple', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling']]
binary_features.apply(pd.Series.value_counts)

,Churn,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling
No,7350,5166,7009,933,5392,6424,5494,5614,6250,5071,5110,4118
Yes,2650,4834,2991,9067,4608,3576,4506,4386,3750,4929,4890,5882

In [8]:
raw = raw.replace(to_replace = "Yes", value = 1)
raw = raw.replace(to_replace = "No", value = 0)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Area,TimeZone,Job,Marital,Gender,Contract,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,Urban,America/Sitka,Environmental health practitioner,Widowed,Male,One year,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,Urban,America/Detroit,"Programmer, multimedia",Married,Female,Month-to-month,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,Urban,America/Los_Angeles,Chief Financial Officer,Widowed,Female,Two Year,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,Suburban,America/Los_Angeles,Solicitor,Married,Male,Two Year,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Suburban,America/Chicago,Medical illustrator,Separated,Male,Month-to-month,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,Rural,America/New_York,Sport and exercise psychologist,Married,Male,Month-to-month,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Rural,America/Chicago,Consulting civil engineer,Divorced,Male,Two Year,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,Rural,America/Chicago,IT technical support officer,Never Married,Female,Month-to-month,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Urban,America/New_York,Water engineer,Separated,Male,Two Year,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Urban,America/New_York,Personal assistant,Never Married,Male,Month-to-month,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1

In [9]:
# review values for Gender to look for NaN or unexpected values
raw.Gender.value_counts()

Female       5025
Male         4744
Nonbinary     231
Name: Gender, dtype: int64

In [10]:
# prepare dummy variables for Gender. 
gender_dummies = pd.get_dummies(raw.Gender, prefix='Gender', drop_first=True)
raw = pd.concat([raw, gender_dummies], axis=1)
raw = raw.drop(['Gender'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Area,TimeZone,Job,Marital,Contract,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,Urban,America/Sitka,Environmental health practitioner,Widowed,One year,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,Urban,America/Detroit,"Programmer, multimedia",Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,Urban,America/Los_Angeles,Chief Financial Officer,Widowed,Two Year,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,Suburban,America/Los_Angeles,Solicitor,Married,Two Year,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Suburban,America/Chicago,Medical illustrator,Separated,Month-to-month,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,Rural,America/New_York,Sport and exercise psychologist,Married,Month-to-month,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Rural,America/Chicago,Consulting civil engineer,Divorced,Two Year,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,Rural,America/Chicago,IT technical support officer,Never Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Urban,America/New_York,Water engineer,Separated,Two Year,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Urban,America/New_York,Personal assistant,Never Married,Month-to-month,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0

In [11]:
# Area may be useful as a categorical feature
raw.Area.value_counts()

Suburban    3346
Urban       3327
Rural       3327
Name: Area, dtype: int64

In [12]:
# prepare dummy variables for Area. 
area_dummies = pd.get_dummies(raw.Area, prefix='Area')
raw = pd.concat([raw, area_dummies], axis=1)
raw = raw.drop(['Area', 'Area_Rural'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,TimeZone,Job,Marital,Contract,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,America/Sitka,Environmental health practitioner,Widowed,One year,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,America/Detroit,"Programmer, multimedia",Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,America/Los_Angeles,Chief Financial Officer,Widowed,Two Year,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,America/Los_Angeles,Solicitor,Married,Two Year,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,America/Chicago,Medical illustrator,Separated,Month-to-month,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,America/New_York,Sport and exercise psychologist,Married,Month-to-month,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,America/Chicago,Consulting civil engineer,Divorced,Two Year,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,America/Chicago,IT technical support officer,Never Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,America/New_York,Water engineer,Separated,Two Year,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,America/New_York,Personal assistant,Never Married,Month-to-month,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1

In [13]:
# review values for TimeZone to look for NaN or unexpected values
# There are too many for this to be useful on a first pass
# Group these into the four main continental timezones and other
raw.TimeZone.value_counts()

America/New_York                  4072
America/Chicago                   3672
America/Los_Angeles                887
America/Denver                     552
America/Detroit                    265
America/Indiana/Indianapolis       186
America/Phoenix                    104
America/Boise                       57
America/Anchorage                   55
America/Puerto_Rico                 40
Pacific/Honolulu                    35
America/Menominee                   16
America/Nome                        12
America/Kentucky/Louisville         10
America/Sitka                        8
America/Indiana/Vincennes            6
America/Indiana/Tell_City            6
America/Toronto                      5
America/Indiana/Petersburg           4
America/North_Dakota/New_Salem       2
America/Juneau                       2
America/Indiana/Knox                 1
America/Ojinaga                      1
America/Indiana/Marengo              1
America/Indiana/Winamac              1
Name: TimeZone, dtype: int64

In [14]:
raw['TimeZone'] = raw.TimeZone.map({
    'America/New_York': 'Eastern',
    'America/Chicago': 'Central',
    'America/Los_Angeles': 'Pacific',
    'America/Denver': 'Mountain',
    'America/Detroit': 'Eastern',
    'America/Indiana/Indianapolis': 'Eastern',
    'America/Phoenix': 'Mountain',
    'America/Boise': 'Mountain',
    'America/Anchorage': 'Other',
    'America/Puerto_Rico': 'Other',
    'Pacific/Honolulu': 'Other',
    'America/Menominee': 'Central',
    'America/Nome': 'Other',
    'America/Kentucky/Louisville': 'Eastern',
    'America/Sitka': 'Other',
    'America/Indiana/Tell_City': 'Central',
    'America/Indiana/Vincennes': 'Eastern',
    'America/Toronto': 'Eastern',
    'America/Indiana/Petersburg': 'Eastern',
    'America/North_Dakota/New_Salem': 'Central',
    'America/Juneau': 'Other',
    'America/Indiana/Knox': 'Central',
    'America/Indiana/Marengo': 'Eastern',
    'America/Ojinaga': 'Other',
    'America/Indiana/Winamac': 'Eastern'
    
    })
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,TimeZone,Job,Marital,Contract,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,Other,Environmental health practitioner,Widowed,One year,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,Eastern,"Programmer, multimedia",Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,Pacific,Chief Financial Officer,Widowed,Two Year,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,Pacific,Solicitor,Married,Two Year,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Central,Medical illustrator,Separated,Month-to-month,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,Eastern,Sport and exercise psychologist,Married,Month-to-month,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Central,Consulting civil engineer,Divorced,Two Year,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,Central,IT technical support officer,Never Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Eastern,Water engineer,Separated,Two Year,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Eastern,Personal assistant,Never Married,Month-to-month,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1

In [15]:
# review values for Time_zone to look for NaN or unexpected values
raw.TimeZone.value_counts()

Eastern     4550
Central     3697
Pacific      887
Mountain     713
Other        153
Name: TimeZone, dtype: int64

In [16]:
# prepare dummy variables for Time_zone
dummies = pd.get_dummies(raw.TimeZone, prefix='TimeZone')
raw = pd.concat([raw, dummies], axis=1)
raw = raw.drop(['TimeZone', 'TimeZone_Other'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Job,Marital,Contract,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,Environmental health practitioner,Widowed,One year,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,"Programmer, multimedia",Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,Chief Financial Officer,Widowed,Two Year,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,Solicitor,Married,Two Year,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Medical illustrator,Separated,Month-to-month,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,Sport and exercise psychologist,Married,Month-to-month,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Consulting civil engineer,Divorced,Two Year,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,IT technical support officer,Never Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Water engineer,Separated,Two Year,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Personal assistant,Never Married,Month-to-month,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0

In [17]:
# review values for Job to look for NaN or unexpected values
raw.Job.value_counts()

Occupational psychologist               30
Comptroller                             28
Horticultural therapist                 28
Hospital pharmacist                     28
Special effects artist                  27
                                        ..
Travel agency manager                    6
Accountant, chartered certified          6
Toxicologist                             6
Control and instrumentation engineer     6
Arboriculturist                          6
Name: Job, Length: 639, dtype: int64

In [18]:
# Dropping Job. There are too many unique values to offer meaningful analysis because no single result has more than 30 observations.
raw = raw.drop(['Job'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Marital,Contract,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,Widowed,One year,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,Widowed,Two Year,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,Married,Two Year,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Separated,Month-to-month,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,Married,Month-to-month,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Divorced,Two Year,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,Never Married,Month-to-month,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Separated,Two Year,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Never Married,Month-to-month,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0

In [19]:
# review values for Marital to look for NaN or unexpected values
# 
display(raw.Marital.describe())
display(raw.Marital.value_counts())

count        10000
unique           5
top       Divorced
freq          2092
Name: Marital, dtype: object

Divorced         2092
Widowed          2027
Separated        2014
Never Married    1956
Married          1911
Name: Marital, dtype: int64

In [20]:
# prepare dummy variables for Marital
dummies = pd.get_dummies(raw.Marital, prefix='Marital')
raw = pd.concat([raw, dummies], axis=1)
raw = raw.drop(['Marital', 'Marital_Never Married'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Contract,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific,Marital_Divorced,Marital_Married,Marital_Separated,Marital_Widowed
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,One year,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,Month-to-month,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,Two Year,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,Two Year,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Month-to-month,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,Month-to-month,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Two Year,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,Month-to-month,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Two Year,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Month-to-month,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0

In [21]:
# review values for Contract to look for NaN or unexpected values
display(raw.Contract.describe())
display(raw.Contract.value_counts())

count              10000
unique                 3
top       Month-to-month
freq                5456
Name: Contract, dtype: object

Month-to-month    5456
Two Year          2442
One year          2102
Name: Contract, dtype: int64

In [22]:
# prepare dummy variables for Contract
dummies = pd.get_dummies(raw.Contract, prefix='Contract')
raw = pd.concat([raw, dummies], axis=1)
raw = raw.drop(['Contract', 'Contract_Month-to-month'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,InternetService,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific,Marital_Divorced,Marital_Married,Marital_Separated,Marital_Widowed,Contract_One year,Contract_Two Year
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,Fiber Optic,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1,1,0
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,Fiber Optic,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,DSL,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,DSL,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0,0,1
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Fiber Optic,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,DSL,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Fiber Optic,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,Fiber Optic,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Fiber Optic,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0,0,1
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Fiber Optic,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0

In [23]:
# review values for InternetService to look for NaN or unexpected values
display(raw['InternetService'].describe())
display(raw.InternetService.value_counts())

count           10000
unique              3
top       Fiber Optic
freq             4408
Name: InternetService, dtype: object

Fiber Optic    4408
DSL            3463
None           2129
Name: InternetService, dtype: int64

In [24]:
# prepare dummy variables for InternetService
dummies = pd.get_dummies(raw.InternetService, prefix='InternetService')
raw = pd.concat([raw,dummies], axis=1)
raw = raw.drop(['InternetService', 'InternetService_None'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,PaymentMethod,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific,Marital_Divorced,Marital_Married,Marital_Separated,Marital_Widowed,Contract_One year,Contract_Two Year,InternetService_DSL,InternetService_Fiber Optic
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,Credit Card (automatic),0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,Bank Transfer(automatic),1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,Credit Card (automatic),1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,1,0
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,Mailed Check,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,0
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,Mailed Check,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,Electronic Check,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,Electronic Check,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,Bank Transfer(automatic),0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,Credit Card (automatic),0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,Electronic Check,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1

In [25]:
# review values for PaymentMethod to look for NaN or unexpected values
display(raw.PaymentMethod.describe())
display(raw.PaymentMethod.value_counts())

count                10000
unique                   4
top       Electronic Check
freq                  3398
Name: PaymentMethod, dtype: object

Electronic Check            3398
Mailed Check                2290
Bank Transfer(automatic)    2229
Credit Card (automatic)     2083
Name: PaymentMethod, dtype: int64

In [26]:
# prepare dummy variables for PaymentMethod
dummies = pd.get_dummies(raw.PaymentMethod, prefix='PaymentMethod')
raw = pd.concat([raw, dummies], axis=1)
raw = raw.drop(['PaymentMethod', 'PaymentMethod_Credit Card (automatic)'], axis=1)
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific,Marital_Divorced,Marital_Married,Marital_Separated,Marital_Widowed,Contract_One year,Contract_Two Year,InternetService_DSL,InternetService_Fiber Optic,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,1,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0

In [27]:
# review values for Population to look for NaN or unexpected values
# there are 97 values where the population is 0. That is acceptable.
display(raw.Population.describe())
display(raw.Population.value_counts())

count     10000.000000
mean       9756.562400
std       14432.698671
min           0.000000
25%         738.000000
50%        2910.500000
75%       13168.000000
max      111850.000000
Name: Population, dtype: float64

0        97
94       14
110      12
39       12
69       11
         ..
27089     1
29138     1
3991      1
25048     1
6049      1
Name: Population, Length: 5933, dtype: int64

In [28]:
# review values for Children to look for NaN or unexpected values
# 
display(raw.Children.describe())
display(raw.Children.value_counts())

count    10000.0000
mean         2.0877
std          2.1472
min          0.0000
25%          0.0000
50%          1.0000
75%          3.0000
max         10.0000
Name: Children, dtype: float64

0     2570
1     2472
2     1495
3     1472
4     1006
5      212
8      210
6      187
7      185
10      99
9       92
Name: Children, dtype: int64

In [29]:
# review values for Age to look for NaN or unexpected values
# 
display(raw.Age.describe())
display(raw.Age.value_counts())

count    10000.000000
mean        53.078400
std         20.698882
min         18.000000
25%         35.000000
50%         53.000000
75%         71.000000
max         89.000000
Name: Age, dtype: float64

32    161
55    159
63    159
19    154
75    154
     ...
87    125
47    124
71    124
78    123
59    115
Name: Age, Length: 72, dtype: int64

In [30]:
# review values for Income to look for NaN or unexpected values
# 
display(raw.Income.describe())
display(raw.Income.value_counts())

count     10000.000000
mean      39806.926771
std       28199.916702
min         348.670000
25%       19224.717500
50%       33170.605000
75%       53246.170000
max      258900.700000
Name: Income, dtype: float64

30434.99     2
10530.09     2
61325.92     2
25598.66     2
36461.20     2
            ..
26828.46     1
13288.17     1
13031.07     1
150264.30    1
5134.89      1
Name: Income, Length: 9993, dtype: int64

In [31]:
# review values for lat / lng to look for NaN or unexpected values
# 
display(raw.Lat.describe())
display(raw.Lat.value_counts())
display(raw.Lng.describe())
display(raw.Lng.value_counts())

count    10000.000000
mean        38.757567
std          5.437389
min         17.966120
25%         35.341828
50%         39.395800
75%         42.106908
max         70.640660
Name: Lat, dtype: float64

40.79345    4
39.85438    4
34.50111    4
42.62422    4
41.10660    4
           ..
44.97605    1
40.69400    1
32.49740    1
44.57385    1
38.93633    1
Name: Lat, Length: 8563, dtype: int64

count    10000.000000
mean       -90.782536
std         15.156142
min       -171.688150
25%        -97.082812
50%        -87.918800
75%        -80.088745
max        -65.667850
Name: Lng, dtype: float64

-80.46337     4
-83.43505     4
-97.06273     4
-88.62818     4
-81.49710     4
             ..
-119.17160    1
-90.65160     1
-107.75850    1
-83.19344     1
-80.94553     1
Name: Lng, Length: 8630, dtype: int64

In [32]:
# review values for Outage_sec_perweek to look for NaN or unexpected values
# 
display(raw.Outage_sec_perweek.describe())
display(raw.Outage_sec_perweek.value_counts())

count    10000.000000
mean        10.001848
std          2.976019
min          0.099747
25%          8.018214
50%         10.018560
75%         11.969485
max         21.207230
Name: Outage_sec_perweek, dtype: float64

11.155220    2
11.136050    2
15.490910    2
10.488750    2
12.748470    2
            ..
9.874838     1
8.314029     1
10.537610    1
6.076261     1
7.364671     1
Name: Outage_sec_perweek, Length: 9986, dtype: int64

In [33]:
# review values for Email to look for NaN or unexpected values
# email is the number of emails sent to the customer in the last year (marketing or otherwise)
display(raw.Email.describe())
display(raw.Email.value_counts())

count    10000.000000
mean        12.016000
std          3.025898
min          1.000000
25%         10.000000
50%         12.000000
75%         14.000000
max         23.000000
Name: Email, dtype: float64

12    1310
11    1291
13    1268
10    1074
14    1060
15     779
9      774
8      543
16     517
17     351
7      316
18     203
6      185
5      109
19     100
20      51
4       31
3       14
21      12
2        6
1        3
22       2
23       1
Name: Email, dtype: int64

In [34]:
# review values for Contacts to look for NaN or unexpected values
# 
display(raw.Contacts.describe())
display(raw.Contacts.value_counts())

count    10000.000000
mean         0.994200
std          0.988466
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          7.000000
Name: Contacts, dtype: float64

0    3680
1    3675
2    1872
3     608
4     137
5      20
6       5
7       3
Name: Contacts, dtype: int64

In [35]:
# review values for Yearly_equip_failure to look for NaN or unexpected values
# 
display(raw.Yearly_equip_failure.describe())
display(raw.Yearly_equip_failure.value_counts())

count    10000.000000
mean         0.398000
std          0.635953
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          6.000000
Name: Yearly_equip_failure, dtype: float64

0    6727
1    2670
2     509
3      86
4       7
6       1
Name: Yearly_equip_failure, dtype: int64

In [36]:
# review values for MonthlyCharge to look for NaN or unexpected values
display(raw.MonthlyCharge.describe())
display(raw.MonthlyCharge.value_counts())

count    10000.000000
mean       172.624816
std         42.943094
min         79.978860
25%        139.979239
50%        167.484700
75%        200.734725
max        290.160419
Name: MonthlyCharge, dtype: float64

179.947600    61
169.944700    60
207.609400    58
144.960700    55
192.440400    55
              ..
242.643514     1
174.991856     1
187.497370     1
174.969934     1
175.004777     1
Name: MonthlyCharge, Length: 750, dtype: int64

In [37]:
# review values for Bandwidth_GB_Year to look for NaN or unexpected values
display(raw.Bandwidth_GB_Year.describe())
display(raw.Bandwidth_GB_Year.value_counts())

count    10000.000000
mean      3392.341550
std       2185.294852
min        155.506715
25%       1236.470827
50%       3279.536903
75%       5586.141370
max       7158.981530
Name: Bandwidth_GB_Year, dtype: float64

4590.372724    1
4849.091945    1
5665.272905    1
5592.221292    1
5333.247037    1
              ..
722.927922     1
1687.611214    1
844.871172     1
544.123260     1
5885.235129    1
Name: Bandwidth_GB_Year, Length: 10000, dtype: int64

In [38]:
raw

,Churn,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Item1,Item2,Item3,Item4,Item5,Item6,Item7,Item8,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific,Marital_Divorced,Marital_Married,Marital_Separated,Marital_Widowed,Contract_One year,Contract_Two Year,InternetService_DSL,InternetService_Fiber Optic,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
0,0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
1,1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0
2,0,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0
3,0,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1
4,1,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0
9996,0,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,1,0
9997,0,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0
9998,0,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0
9999,0,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0

In [39]:
raw = raw.rename(columns={'Item1':'Survey_TimelyResponse', 'Item2':'Survey_TimelyFix', 'Item3':'Survey_TimelyReplacement', 'Item4':'Survey_Reliability', 'Item5':'Survey_Options', 'Item6':'Survey_RespectfulResponse', 'Item7':'Survey_CourteousExchange', 'Item8':'Survey_ActiveListening'})

In [40]:
clean = raw.drop(['Churn'], axis=1)
clean

,Tenure,CaseOrder,Lat,Lng,Population,Children,Age,Income,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,MonthlyCharge,Bandwidth_GB_Year,Survey_TimelyResponse,Survey_TimelyFix,Survey_TimelyReplacement,Survey_Reliability,Survey_Options,Survey_RespectfulResponse,Survey_CourteousExchange,Survey_ActiveListening,Techie,Port_modem,Tablet,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Gender_Male,Gender_Nonbinary,Area_Suburban,Area_Urban,TimeZone_Central,TimeZone_Eastern,TimeZone_Mountain,TimeZone_Pacific,Marital_Divorced,Marital_Married,Marital_Separated,Marital_Widowed,Contract_One year,Contract_Two Year,InternetService_DSL,InternetService_Fiber Optic,PaymentMethod_Bank Transfer(automatic),PaymentMethod_Electronic Check,PaymentMethod_Mailed Check
0,6.795513,1,56.25100,-133.37571,38,0,68,28561.99,7.978323,10,0,1,172.455519,904.536110,5,5,5,3,4,4,3,4,0,1,1,1,0,1,1,0,0,0,1,1,1,0,0,1,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0
1,1.156681,2,44.32893,-84.24080,10446,1,27,21704.77,11.699080,12,0,1,242.632554,800.982766,3,4,3,3,4,3,4,4,1,0,1,1,1,1,0,0,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0
2,15.754144,3,45.35589,-123.24657,3735,4,50,9609.57,10.752800,9,0,1,159.947583,2054.706961,4,4,2,4,4,3,3,3,1,1,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,0,0,0,1,0,1,1,0,0,0,0
3,17.087227,4,32.96687,-117.24798,13863,1,48,18925.23,14.913540,15,2,0,119.956840,2164.579412,4,4,4,2,5,4,3,3,1,0,0,1,0,1,0,0,0,1,0,1,1,0,1,0,0,0,0,1,0,1,0,0,0,1,1,0,0,0,1
4,1.670972,5,29.38012,-95.80673,11352,0,83,40074.19,8.147417,16,2,1,149.948316,271.493436,4,4,4,3,4,4,4,5,0,1,0,0,0,0,0,0,1,1,0,0,1,0,1,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,68.197130,9996,43.43391,-72.78734,640,3,23,55723.74,9.415935,12,2,0,159.979400,6511.252601,3,2,3,3,4,3,2,3,0,1,1,1,1,0,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,1,0
9996,61.040370,9997,36.56907,-87.41694,77168,4,48,34129.34,6.740547,15,2,0,207.481100,5695.951810,4,5,5,4,4,5,2,5,0,0,0,1,1,1,1,1,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,1,0,1,0
9997,47.416890,9998,35.52039,-100.44180,406,1,48,45983.43,6.590911,10,0,0,169.974100,4159.305799,4,4,4,4,4,4,4,5,0,0,0,1,1,1,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,0,0
9998,71.095600,9999,33.58016,-85.13241,35575,1,39,16667.58,12.071910,14,1,0,252.624000,6468.456752,4,4,6,4,3,3,5,4,0,0,1,0,1,0,0,0,1,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0
9999,63.350860,10000,34.70783,-83.53648,12230,1,28,9020.92,11.754720,17,1,0,217.484000,5857.586167,2,2,3,3,3,3,4,1,0,1,0,1,1,1,1,1,0,0,1,1,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0

In [41]:
clean.to_csv('/home/rho/CODE/data/churn_wgu/clean.csv', index=False)